<head>
    <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
   {% if username %}
    <li class="nav-item"><a href="/auth/logout/">Выйти ({{ username }})</a></li>
   {% else %}
    <li class="nav-item"><a href="/auth/login/">Войти</a></li>
   {% endif %}
  </ul>
</nav>
<a href="/videoshufic/" class = "btn btn-info" role = "button">All video</a></h1>
<div class = "container">
    {% block onevideo %}{% endblock %}
    {% block video_p %}{% endblock %}
</body>